{{ template "header" . }}
<div class="wrapper">
  <div class="container">
    <form class="form" action="" method="post">
      <label>
        <input name="username" type="text" value="">
      </label>
      <label>
        <input name="password" type="password" value="">
      </label>
      <button type="submit" id="login-button" name="submit">&nbsp</button>
    </form>
  </div>
</div>
{{ template "footer" . }}